body{
    font-family: 'Bebas Neue', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}
.nav-list {
    font-weight: 600;
}

.nike{
    color: #FA804C;
    font-weight: 800;
    font-size: 70px;
    font-family: bebas neue;

}
.infinity{
    color: #363958;
    font-weight: 800;
    font-size: 70px;
    font-family: bebas neue;
}
.header-color{
 background-color:#fde7de;
}
.ca-shoes{
    color: #363958;
    margin: 30px 0;
    font-weight: 700;
}
.shoe-card{
    padding: 10px;
 
}
.img-bg{
    background-color: lightgrey;
   height: 400px;
   width: auto;   
}
.doller-style{
    color: #FA804C;
    font-weight: 700;
}
.service-card-img img{
    width:100px;
    
}
.service-card{
    max-width: 450px;
    margin: 50px 0;
    border-radius: 15px;
}
.service{
    margin: 140px 0;
}
footer{
    text-align: center;
}

@media (max-width:768px) {
    .service {
        flex-direction: column-reverse;
    }
    .service-txt{
        text-align: center;
    }
    h2{
        text-align: center;
    }
}
@media (min-width: 769px) and (max-width:991px) {
    .ipad-btn{
        flex-direction: column;
       
    }
}